:root {
  --primary-color: #747578;
  --secondary-color:#8C9A9E;
  --accent1-color:white;
  --accent2-color: #93B7BE;
  --accent3-color: #fcb9b2;

}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;

}


header {
  background-color: var(--accent2-color);
  /* border-bottom: 3px solid var(--accent3-color);
  border-top: 3px solid var(--accent3-color); */
  display:grid;
  grid-template-columns: 200px auto;
  justify-content: space-around;
	align-items: center;
  margin: 5px;
}


nav a {
  color:black;
  text-decoration: none;
  padding: 20px;
  
}


.logo {
  text-align: center;
}


.logo img {
  width:150px;
  height: auto;
  padding: 10px;
  
}

h2 {
  text-decoration: underline;
}

main p {
  color:white;}

section{

  background-color: var(--primary-color);
}


header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size:x-large;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}


.hero {
  position:relative;
  margin: 5px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;

}

.hero h1{
  position:absolute;
  background-color:var(--secondary-color);
  font-size:3.5em;
  text-align: center;
  width:100%;
  border:2px solid white;
  top:10%;
  
}

article {
  position: absolute;
  background-color: var(--primary-color);
  text-align: left;
  width: 55%;
  left:20%;
  top:35%;
  padding:20px;
  border: 2px solid white;
}

.hero article img {
  display:block;
  width: 200px;
  height: auto;
  float:right;
  padding:2px;
  border: 2px solid;
}


.history {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  padding: 30px;
  margin: 5px;
}

.history h2 {
  flex: 0 0 100%;
  text-align: center;
}

.history p {
  max-width: 30%;
}

.history img {
  max-width: 30%;
  height:auto;
}


.adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin:5px;
}

.adventure h2{
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
}

.adventure figure {
  text-align: center;
}

.adventure img {
  width: 100%;
  height: auto;
}


/* footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:var(--accent1-color);
  background-color: var(--primary-color);
  text-align: center;
  border-top: 4px dotted black;
  margin: 5px;
}

footer p{
  text-align: center;
} */


footer {
  display:grid;
  grid-template-columns: 82% auto;
  color:var(--accent1-color);
  background-color: var(--primary-color);
  border-top: 4px dotted black;
  margin: 5px;
  align-content: end;
}

footer p {
  grid-column: 1/2;
  grid-row: 1/1;
  text-align: center;
  align-self: center;
}

footer nav {
  grid-column: 2/3;
  grid-row: 1/1;
  align-self: center;
}


.socialmedia img {
  width:30px;
  height: auto;
}